{% extends "base.html" %}
{% load i18n %}
{% load helper %}
{% block extrahead %}
        <script type="text/javascript" src="{{ STATIC_URL }}js/popup-plugin.js"></script>
{% endblock %}

{% block content %}
<div class="tabbed">
	<div class="tab-content" style="display:block;">
		<div class="items">

            <form id="DateForm" method="POST" action="/cross_order/transaction_list/">
                {% csrf_token %}
                <table class="dateFilter" cellspacing="0" cellpadding="0">
                    <tr>
                        <td>
                            {% trans "start_date" %}
                        </td>
                        <td>
                            <input id="id_dateStart" type="textbox" name="dateStart" value="{{ start_date|date:"m/j/Y" }}"/>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            {% trans "end_date" %}
                        </td>
                        <td>
                            <input id="id_dateEnd" type="textbox" name="dateEnd" value="{{ end_date|date:"m/j/Y" }}"/>
                        </td>
                    </tr>
                    <tr>
                        <td class="left">
                            {% trans "status" %}
                        </td>
                        <td class="right">
                            <select name='statusFilter' id='id_statusFilter' style="width:175px;">
                                <option value='all'>{% trans "all" %}</option>
                                {% for s in statusList %}
                                    <option value='{{ s.pk }}'>{{ s.name }}</option>
                                {% endfor %}
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td>

                        </td>
                        <td style="text-align: right;">
                            <input id="id_submit" type="submit" name="submit" value="Sorgula" class="button"/>
                        </td>
                    </tr>

                </table>
            </form>
            <div class="dateRangeInfo">
                {{ start_date|date }} - {{ end_date|date }}
            </div>
{#        #}
{#        #}
{#        #}
{#        #}
{#        #}
{#        <table class="filterPanel">#}
{##}
{##}
{#                <tr>#}
{#                    <td class="left">#}
{#                        &nbsp;#}
{#                    </td>#}
{#                    <td style="text-align: right;">#}
{#                        <a class="submitButton" href="javascript:filterByStatus();" >#}
{#                            <span>{% trans "filter" %} </span>#}
{#                        </a>#}
{#                    </td>#}
{#                </tr>#}
{#            </table>#}
{#            <br>#}

<form id ="transUpdateForm" action="/cross_order/update_transaction_status/?status={{ status }}" method='post'>
    {% csrf_token %}
            <table id="transactionList">
                <thead>
                    <tr>
                        <th><input type=checkbox name='allSelect' class="allSelect"></th>
                        <th>
                            {% trans "Add_Invoice" %}
                        </th>
                        <th>
                            {% trans "create_date" %}
                        </th>
                        <th>
                            {% trans "status" %}
                        </th>
                        <th>
                            {% trans "supplier_name" %}
                        </th>
                        <th>
                            {% trans "transaction_code" %}
                        </th>
                        <th>
                            {% trans "number_of_items_confirmed" %}
                        </th>
                        <th>
                            {% trans "#ofItemsCancelled" %}
                        </th>
                        <th>
                            {% trans "#ofItemsShipped" %}
                        </th>
                        <th>
                            {% trans "total_number_of_items" %}
                        </th>
                        <th>
                            {% trans "total_tl_cost" %}
                        </th>
                        <th>
                            {% trans "user" %}
                        </th>
                    </tr>
                </thead>
                <tbody>
                    {% for t in transList %}
                        <tr>
                            <td><input type=checkbox class="checkboxClass" name='transChecked' value="{{ t.pk }}"></td>
                            <td>
                                <span class="actionLabel" onclick="viewInvoiceBox('{{ t.code }}',
                                        '{{ t|getSupplierName }}',
                                        '{{ t.pk }}')">
                                   Add Invoice  {# translation needed #}
                                </span>
                            </td>
                            <td>
                                {{ t.create_date|date:"d/M/Y H:i:s" }}
                            </td>
                            <td>
                                {{ t.status.name }}
                            </td>
                            <td>
                                {{ t|getSupplierName }}
                            </td>
                            <td>
                                <a href="/cross_order/transaction_details/{{ t.code }}/">
                                    {{ t.code }}
                                </a>
                            </td>
                            <td>
                                {{ t|totalConfirmed}}
                            </td>
                            <td>
                                {{ t|totalCancelled}}
                            </td>
                            <td>
                                {{ t|totalShipped}}
                            </td>
                            <td>
                                {{ t|totalOrderCount }}
                            </td>
                            <td>
                                {{ t|getTotalCost }}
                            </td>
                            <td>
                                {{ t|getUser }} 
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>

        <table class="actionPanel" cellpadding="0" cellspacing="0" width="100%">
                <tr>
                    <td class="left">
                         <select name='statusUpdate' id='id_statusUpdate'>
                            <option value='0'>{% trans "please_select" %}</option>
                            {% for s in statusList %}
                                    <option value='{{ s.pk }}'>{{ s.name }}</option>
                            {% endfor %}
                         </select>
                    </td>
                    <td  class="right">
                        <a class="submitButton" onclick="return updateStatus();">
                            <span> {% trans "update_status" %}</span>
                        </a>
                    </td>
                </tr>
            </table>
<input type="hidden" value="" id="id_buttonSource" name="buttonSource" />
</form>
        </div>
        {% include "cross_order/boxes/add_invoice_box.html" %}
	</div>
</div>
<script type="text/javascript">
    $(document).ready(function(){
        $( "#id_dateStart" ).datepicker({ altFormat: 'yy-mm-dd' });
        $( "#id_dateEnd" ).datepicker({  altFormat: 'yy-mm-dd' });


        displayModuleMenus("cross","crossTransactions");
        setMenuName("{% trans module_cross_order_tracking_system %}");

        $('#transactionList').dataTable(
                {
                    "bJQueryUI": true,
                    "bPaginate":true,
                    "sPaginationType": "full_numbers",
                    "iDisplayLength": 25,
                    "aoColumnDefs":
                            [
                               { "bSortable": false, "aTargets": [ 0 ] }
//                               { "asSorting": [ "desc"], "aTargets": [ 1 ] }
                            ]
                    
                }
        );

        $('#id_statusFilter').val('{{ status }}');
        $('.allSelect').click(function(){
            if($(this).is(':checked')){
                $('.checkboxClass').attr("checked", 'checked');
            }
            else
                $('.checkboxClass').attr("checked", "");
        })
    });

    function filterByStatus(){
        window.location= "{{ current_url|safe }}"+ $('#id_statusFilter').val()
    }

    function updateStatus(){
        if($('#id_statusUpdate').val() < 1){
            alert('Lutfen gecerli bir statu seciniz !')
            return false;
        }

        $('#id_buttonSource').val("status");
        $('#transUpdateForm').submit();
    }


</script>
{% endblock %}