{% extends "base.html" %}
{% load i18n %}
{% load helper %}
{% block extrahead %}

{% endblock %}

{% block content %}
<div class="tabbed">
	<div class="tab-content" style="display:block;">
		<div class="items">
            <table class="filterPanel">
                <tr>
                    <td class="left">
                        {% trans "transaction_code" %}
                    </td>
                    <td  class="right">
                        {{ code }}
                    </td>
                </tr>
                <tr>
                    <td class="left">
                        {% trans "supplier_name" %}
                    </td>
                    <td  class="right">
                        {{ trans|getSupplierName }}
                    </td>
                </tr>
                <tr>
                    <td class="left">
                        {% trans "status" %}
                    </td>
                    <td  class="right">
                        {{ trans.status.name }}
                    </td>
                </tr>
                <tr>
                    <td class="left">
                        {% trans "cross_status" %}
                    </td>
                    <td class="right">
                        <select name='statusFilter' id='id_statusFilter'>
                            <option value='all'>{% trans "all" %}</option>
                            {% for cs in crossStatusList %}
                                    <option value='{{ cs.pk }}'>{{ cs.name }}</option>
                            {% endfor %}
                        </select>
                    </td>
                </tr>
                <tr>
                    <td class="left">
                        &nbsp;
                    </td>
                    <td style="text-align: right;">
                        <a class="submitButton" href="javascript:filterByCrossStatus();" >
                            <span>{% trans "filter" %} </span>
                        </a>
                    </td>
                </tr>
            </table>
<form id ="orderUpdateForm" action="/cross_order/update_trans_order_list/?code={{ code }}" method='post'>
    {% csrf_token %}
    <table id="orderList">
                <thead>
                    <tr>
                        <th><input type=checkbox name='allSelect' class="allSelect"></th>
                        <th>{% trans "cross_status" %}</th>
                        <th>{% trans "ekol_stock" %} </th>
                        <th>{% trans "order_item_id" %}  </th>
                        <th>{% trans "zidaya_order_number" %}  </th>
                        <th>{% trans "size" %}</th>
                        <th>{% trans "sku" %}</th>
                        <th>{% trans "supplier_sku_config" %} </th>
                        <th>{% trans "supplier_sku_simple" %} </th>
                        <th>{% trans "barcode" %}</th>
                        <th>{% trans "name" %}</th>
{#                        <th>BOB Status</th>#}
{#                        <th>Suborder Number</th>#}
                        <th>{% trans "paid_price" %} </th>
                        <th>{% trans "cost" %}</th>
                        <th>{% trans "order_date" %} </th>
                        <th>{% trans "attribute_set" %} </th>
                        <th>{% trans "inbound_order_number" %} </th>
                        <th>{% trans "comment" %}</th>
                        <th>{% trans "supplier_order_date" %} </th>
                        <th>{% trans "last_update" %} </th>
                    </tr>
                </thead>
                <tbody>
                    {% for o in orderTransactionList %}
                        <tr>
                            <td>
                                {% if not o.order.ordercrossdetails.cross_status.isFinal%}
                                    <input type=checkbox class="checkboxClass" name='orderChecked' value="{{ o.order.pk }}">
                                {% endif  %}
                            </td>
                            <td>{{ o.order.ordercrossdetails.cross_status.name }}</td>
                            <td>{{ o.sku|getEkolStock }}</td>
                            <td>{{ o.order.id_sales_order_item }}</td>
                            <td>
                                <a href="https://bob.zidaya.com/orderprocessing/order/index/id/{{ o.order.id_sales_order }})" target="_blank">{{ o.order.order_nr }}</a>
                            </td>
                            <td>{{ o.order.size }}</td>
                            <td>{{ o.order.sku }}</td>
                            <td>{{ o.order.sku_supplier_config }}</td>
                            <td>{{ o.order.sku_supplier_simple }}</td>
                            <td>{{ o.order.barcode_ean }}</td>
                            <td>{{ o.order.name }}</td>
{#                            <td>{{ o.order.status }}</td>#}
{#                            <td>{{ o.order.suborder_number }}</td>#}
                            <td>{{ o.order.paid_price }}</td>
                            <td>{{ o.order.cost }}</td>
                            <td>{{ o.order.order_date|date:"d/M/Y H:m:s" }}</td>
                            <td>{{ o.order.ordercrossdetails.order_attribute }}</td>
                            <td>{{ o.order.ordercrossdetails.inbound_order_number }}</td>
                            <td>{{ o.order.ordercrossdetails.comment }}</td>
                            <td>{{ o.order.ordercrossdetails.supplier_order_date|date:"d/M/Y H:i:s" }}</td>
                            <td>
                                {% for lu in o.order.lastupdate_set.all|slice:":1" %}
                                     {{ lu.user.username }} {{  lu.update_date|date:"d/M/Y H:i:s" }}
                                    <br/>
                                    <a href="javascript:viewOrderHistory({{ o.order.pk }})"> History</a>
                                {% endfor %}
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            <table class="actionPanel" cellpadding="0" cellspacing="0" width="100%">
                <tr>
                    <td class="left">
                         <select name='statusUpdate' id='id_statusUpdate'>
                            <option value='0'>{% trans "please_select" %}</option>
                            {% for cs in crossStatusList %}
                                {% if user.is_superuser  %}
                                    <option value='{{ cs.pk }}'>{{ cs.name }}</option>
                                {% else %}
                                    {% if not cs.isFinal %}
                                        <option value='{{ cs.pk }}'>{{ cs.name }}</option>
                                    {% endif %}
                                {% endif %}
                            {% endfor %}
                         </select>
                    </td>
                    <td  class="right">
                        <a class="submitButton" onclick="return updateCrossStatus();">
                            <span>{% trans "update_cross_status" %} </span>
                        </a>
                    </td>
                <td class="left">
                         <input id="id_inbound_order_number" type="textbox" name="inbound_order_number" value=""/>
                    </td>
                    <td class="right">
                        <a class="submitButton" onclick="return updateInbound();">
                            <span>{% trans "inbound_order_number" %} </span>
                        </a>
                    </td>
{#                    <td class="left">#}
{#                        &nbsp;#}
{#                    </td>#}
                    <td class="left">
                        <a class="submitButton" onclick="return viewCommentBox();">
                            <span>{% trans "add_comment" %}  </span>
                        </a>
                    </td>
                    <td class="right" style="text-align: right;">
                        <a class="submitButton" href="/cross_order/exportExcelForSupplier/?code={{ code }}&cstatus={{ cstatus.pk }}">
                            <span>{% trans "supplier_excel" %} </span>
                        </a>
                    </td>
                    <td class="right" style="text-align: right;">
                        <a class="submitButton" href="/cross_order/exportCsvTransaction/?code={{ code }}&cstatus={{ cstatus.pk }}">
                            <span>{% trans "export_csv" %} </span>
                        </a>
                    </td>
                    <td class="right" style="text-align: right;">
                        <a class="submitButton" href="/cross_order/exportTransactions/?code={{ code }}&cstatus={{ cstatus.pk }}">
                            <span>{% trans "export_to_excel" %} </span>
                        </a>
                    </td>
                </tr>
            </table>
<input type="hidden" value="" id="id_buttonSource" name="buttonSource" />
{% include "cross_order/boxes/comment_box.html" %}
</form>
		</div>
	</div>
</div>

{% include "cross_order/boxes/history_box.html" %}
{% include "cross_order/boxes/column_box.html" %}
<script type="text/javascript">
    function updateCrossStatus(){
        $('#id_buttonSource').val("status");
        $('#orderUpdateForm').submit();
    }

    function updateInbound(){
        $('#id_buttonSource').val("inbound");
        $('#orderUpdateForm').submit();
    }

    function filterByCrossStatus(){
            window.location= "/cross_order/transaction_details/{{ code }}/?cstatus="+ $('#id_statusFilter').val()
    }
    
    $(document).ready(function(){
        displayModuleMenus("cross","");
        setMenuName("{% trans module_cross_order_tracking_system %}");

        var oTable = $('#orderList').dataTable(
                {
                    "bJQueryUI": true,
                    "bPaginate": false,
                    "sScrollX": "100%",
                    "sScrollY": "350px"
//                    "aoColumnDefs": [{
////                                        "bVisible": false, "aTargets": [ 10,11] // destroy BOB Status and suborder#
//                                    }]
                }
        );
        
        $('#id_statusFilter').val({{ cstatus.pk }});
        $('.checkboxClass').attr("checked", "");
        $('.allSelect').click(function(){
            if($(this).is(':checked')){
                $('.checkboxClass').attr("checked", 'checked');
            }
            else
                $('.checkboxClass').attr("checked", "");
        });
        $('#orderList_filter').append('<a class="submitButton" onclick="return viewColumnBox();"><span> {% trans "hide_show_columns" %} </span></a>');

        $('.DataTables_sort_wrapper').each(function(index) {
                 headerVal = $(this).text();
//                alert(headerVal);
//                $('#test-div').append(headerVal+' - '+index);
            if(index >0)
            {
                columnRow = "<tr><td><input type=checkbox class='columnChecked' name='columnChecked' value='"+index+"'checked>"+ headerVal + "</td></tr>";
                $('#columnBoxTable').append(columnRow);
            }
        });

    });

</script>
{% endblock %}