{% extends "base.html" %}
{% load i18n %}
{% load helper %}
{% block extrahead %}

{% endblock %}

{% block content %}
<div class="tabbed">
	<div class="tab-content" style="display:block;">
		<div class="items">
            <table class="filterPanel">
                <tr>
                    <td class="left">
                        Transaction Code:
                    </td>
                    <td  class="right">
                        {{ code }}
                    </td>
                </tr>
                <tr>
                    <td class="left">
                        Cross Status:
                    </td>
                    <td class="right">
                        <select name='statusFilter' id='id_statusFilter'>
                            <option value='all'>All</option>
                            {% for cs in crossStatusList %}
                                    <option value='{{ cs.pk }}'>{{ cs.name }}</option>
                            {% endfor %}
                        </select>
                    </td>
                </tr>
                <tr>
                    <td class="left">
                        &nbsp;
                    </td>
                    <td style="text-align: right;">
                        <a class="submitButton" href="javascript:filterByCrossStatus();" >
                            <span> Filtrele </span>
                        </a>
                    </td>
                </tr>
            </table>
<form id ="orderUpdateForm" action="/cross_order/update_trans_order_list/?code={{ code }}" method='post'>
    {% csrf_token %}
    <table id="orderList">
                <thead>
                    <tr>
                        <th><input type=checkbox name='allSelect' class="allSelect"></th>
                        <th>Cross Status</th>
                        <th>Id Sales</th>
                        <th>Order Number</th>
                        <th>Size</th>
                        <th>Sku</th>
                        <th>Sku Simple</th>
                        <th>Barcode</th>
                        <th>Name</th>
                        <th>Status</th>
                        <th>Suborder Nr</th>
                        <th>Paid Price</th>
                        <th>Cost</th>
                        <th>Order_Date</th>
                        <th>Attribute</th>
                        <th>Inbound_Order_Number</th>
                        <th>Supplier_Order_Date</th>
                        <th>Last_Updated</th>
                    </tr>
                </thead>
                <tbody>
                    {% for o in orderTransactionList %}
                        <tr>
                            <td><input type=checkbox class="checkboxClass" name='orderChecked' value="{{ o.order.pk }}"></td>
                            <td>{{ o.order.ordercrossdetails.cross_status.name }}</td>
                            <td>{{ o.order.id_sales_order_item }}</td>
                            <td>{{ o.order.order_nr }}</td>
                            <td>{{ o.order.size }}</td>
                            <td>{{ o.order.sku }}</td>
                            <td>{{ o.order.sku_supplier_simple }}</td>
                            <td>{{ o.order.barcode_ean }}</td>
                            <td>{{ o.order.name }}</td>
                            <td>{{ o.order.status }}</td>
                            <td>{{ o.order.suborder_number }}</td>
                            <td>{{ o.order.paid_price }}</td>
                            <td>{{ o.order.cost }}</td>
                            <td>{{ o.order.order_date|date:"d/M/Y H:m:s" }}</td>
                            <td>{{ o.order.ordercrossdetails.order_attribute }}</td>
                            <td>{{ o.order.ordercrossdetails.inbound_order_number }}</td>
                            <td>{{ o.order.ordercrossdetails.supplier_order_date|date:"d/M/Y H:m:s" }}</td>
                            <td>
                                {% for lu in o.order.lastupdate_set.all|slice:":1" %}
                                     {{ lu.user.email }} {{  lu.update_date|date:"d/M/Y H:m:s" }}
                                    <br/>
                                    <a href="javascript:viewOrderHistory({{ o.order.pk }})"> History</a>
                                {% endfor %}
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            <table class="actionPanel" cellpadding="0" cellspacing="0" width="100%">
                <tr>
                    <td class="left">
                         <select name='statusUpdate' id='id_statusUpdate'>
                            <option value='0'>Please Select</option>
                            {% for cs in crossStatusList %}
                                <option value='{{ cs.pk }}'>{{ cs.name }}</option>
                            {% endfor %}
                         </select>
                    </td>
                    <td  class="right">
                        <a class="submitButton" onclick="return updateCrossStatus();">
                            <span> Update Cross Status </span>
                        </a>
                    </td>
                <td class="left">
                         <input id="id_inbound_order_number" type="textbox" name="inbound_order_number" value=""/>
                    </td>
                    <td class="right">
                        <a class="submitButton" onclick="return updateInbound();">
                            <span> Update Inbound Order Number </span>
                        </a>
                    </td>
                    <td class="left">
                        &nbsp;
                    </td>
                    <td class="right" style="text-align: right;">
                        <a class="submitButton" href="/cross_order/exportTransactions/?code={{ code }}&cstatus={{ cstatus.pk }}">
                            <span> Export To Excel </span>
                        </a>
                    </td>
                </tr>
            </table>
<input type="hidden" value="" id="id_buttonSource" name="buttonSource" />
</form>
		</div>
	</div>
</div>

{% include "cross_order/boxes/history_box.html" %}
<script type="text/javascript">
    function updateCrossStatus(){
        $('#id_buttonSource').val("status");
        $('#orderUpdateForm').submit();
    }

    function updateInbound(){
        $('#id_buttonSource').val("inbound");
        $('#orderUpdateForm').submit();
    }

    function filterByCrossStatus(){
            window.location= "/cross_order/transaction_details/{{ code }}/?cstatus="+ $('#id_statusFilter').val()
    }
    
    $(document).ready(function(){
        var oTable = $('#orderList').dataTable(
                {
                    "bJQueryUI": true,
                    "bPaginate": false,
                    "sScrollX": "100%",
                    "sScrollY": "450px"
                }
        );
        
        $('#id_statusFilter').val({{ cstatus.pk }});
        $('.checkboxClass').attr("checked", "");
        $('.allSelect').click(function(){
            if($(this).is(':checked')){
                $('.checkboxClass').attr("checked", 'checked');
            }
            else
                $('.checkboxClass').attr("checked", "");
        });
    });
</script>
{% endblock %}