{% extends "base.html" %}
{% load i18n %}
{% load helper %}
{% block extra_head %}
    <script type="text/javascript" src="{{ STATIC_URL }}js/popup-plugin.js"></script>
{% endblock %}

{% block content %}
    <br/>
     <div style="border-bottom: 1px solid #333333;font-size: 14px;color:#000000;">
        Returned Orderitem Tracking System <b>For Warehouse</b>
     </div>
     <form id="searchReturnedItemsForm" action="/rts/home_warehouse/" method="GET">
        {% csrf_token %}
            <table class="actionPanel searchPanel" cellpadding="0" cellspacing="0" width="100%">

                        <tr>
                            <td style="background-color: none;">
                                Order/Suborder Number
                                <input id="rts_snr_search" type="textbox" name="suborder_nr" value=""/>

                                <a class="submitButton" onclick="return rts_search();">
                                    <span> {% trans "Search" %} </span>
                                </a>
                            </td>
                        </tr>
                </table>
                <script type="text/javascript">
                    function rts_search(){
                        $('#id_buttonSource').val("search");
                        $('#searchReturnedItemsForm').submit();
                    }
                </script>
     </form>
<div class="tabbed">
	<div class="tab-content" style="display:block;">
		<div class="items">
    <table id="orderList">
                <thead>
                    <tr>
{#                        <th><input type=checkbox name='allSelect' class="allSelect"></th>#}
                        <th>{% trans "Select Item" %}</th>
                        <th>{% trans "return_status" %}</th>
                        <th>{% trans "id_sales" %}</th>
                        <th>{% trans "order_nr" %} </th>
                        <th>{% trans "sku" %}</th>
                        <th>{% trans "order_date" %}</th>
                        <th>{% trans "barcode_ean" %}  </th>
                        <th>{% trans "name" %}</th>
                        <th>{% trans "suborder_number" %}</th>
                        <th>{% trans "shipping_name" %}</th>
                        <th>{% trans "billing_name" %}</th>
                        <th>{% trans "bob_status" %}</th>
                        <th>{% trans "return_reason" %}</th>
                        <th>{% trans "action_type" %}</th>
                        <th>{% trans "comment" %}</th>
                        <th>{% trans "return_date" %}</th>
                    </tr>
                </thead>
                <tbody >
                    {% for o in oibfr_list %}

                        <tr>
{#                            <td><input type=checkbox class="checkboxClass" name='orderChecked' value="{{ o.pk }}"></td>#}
                            <td>
                                <span class="actionLabel" onclick="viewReturnBox('{{ o.suborder_number }}',
                                        '{{ o.order_nr }}',
                                        '{{ o.sku }}',
                                        '{{ o.id_sales_order_item }}',
                                        '{{ o.returneditemdetails.action_type.pk }}',
                                        '{{ o.returneditemdetails.return_reason.pk }}',
                                        '{{ o.returneditemdetails.comment }}')">
                                    Select {# translation needed #}
                                </span>
                            </td>
                            <td>
                                {% if o.returneditemdetails  %}
                                    {{ o.returneditemdetails.get_status_display }}
                                {% else %}
                                    -
                                {% endif %}
                            </td>
                            <td>{{ o.id_sales_order_item }}</td>
                            <td><a href="https://bob.zidaya.com/orderprocessing/order/index/id/{{ o.id_sales_order }})" target="_blank">{{ o.order_nr }}</a></td>
                            <td>
                                <a onmouseover="popup('<img src=http://static.zidaya.com/p/-{{ o.id_catalog_config|reverse }}-1-catalog.jpg />', '90px');">{{ o.sku }}</a>
                            </td>
                            <td>{{ o.order_date|date:"d/M/Y H:i:s" }}</td>
                            <td>{{ o.barcode_ean }}</td>
                            <td>{{ o.name }}</td>
                            <td>{{ o.suborder_number }}</td>
                            <td>{{ o.shipping_name }}</td>
                            <td>{{ o.billing_name }}</td>
                            <td>{{ o.bob_status }}</td>
                            <td>{{ o.returneditemdetails.return_reason|None2Empty }}</td>
                            <td>{{ o.returneditemdetails.action_type.name|None2Empty }}</td>
                            <td>{{ o.returneditemdetails.comment|None2Empty }}</td>
                            <td>{{ o.returneditemdetails.create_date|date:"d/M/Y H:i:s" }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
		</div>
	</div>
    {% include "cross_order/boxes/returned_item_box.html" %}


    <div id="test-div">

    </div>

</div>
<script type="text/javascript">
    $(document).ready(function(){
        var oTable = $('#orderList').dataTable(
                {
                    "sScrollY": "320px",
                    "bJQueryUI": true,
                    "sPaginationType": "full_numbers",
                    "sScrollX": "100%"
                }
        );
        $('#rts_snr_search').val("{{ suborder_nr }}");
        $('.checkboxClass').attr("checked", "");
        $('.allSelect').click(function(){
            if($(this).is(':checked')){
                $('.checkboxClass').attr("checked", 'checked');
            }
            else
                $('.checkboxClass').attr("checked", "");
        });
    });
</script>

{% endblock %}