{% extends "base.html" %}
{% load i18n %}
{% load helper %}
{% load enum_helper %}
{% block extra_head %}
    <script type="text/javascript" src="{{ STATIC_URL }}js/popup-plugin.js"></script>
{% endblock %}

{% block content %}
    <br/>
     <form id="searchReturnedItemsForm" action="/rts/home_order_management/" method="post">
        {% csrf_token %}
            <table class="actionPanel dateFilter" cellpadding="0" cellspacing="0" width="30%">
                <tr>
                    <td>
                        <b>{% trans "start_date" %}</b>
                    </td>
                    <td>
                        <input id="id_dateStart" type="textbox" name="dateStart" value="{{ start_date|date:"m/j/Y" }}"/>
                    </td>
                </tr>
                <tr>
                    <td>
                       <b> {% trans "end_date" %}</b>
                    </td>
                    <td>
                        <input id="id_dateEnd" type="textbox" name="dateEnd" value="{{ end_date|date:"m/j/Y" }}"/>
                    </td>
                </tr>
                <tr>
                    <td style="background-color: none;">
                       <b> {% trans "return_status" %} </b>

                    </td>
                    <td>
                        <select name='statusFilter' id='id_statusFilter'>
                            <option value='all'>{% trans "all" %}</option>
                            {% enum2option statusList %}
                        </select>

                        <a class="submitButton" onclick="return rts_search();">
                            <span> {% trans "Search" %} </span>
                        </a>
                    </td>
                </tr>

                </table>
                <script type="text/javascript">
                    function rts_search(){
                        $('#id_buttonSource').val("search");
                        $('#searchReturnedItemsForm').submit();
                    }
                </script>
     </form>
<div class="tabbed">
	<div class="tab-content" style="display:block;">
		<div class="items">
            <form id="DateForm" method="POST" action="/cross_order/list_supplier/">
                {% csrf_token %}
                <table class="dateFilter" cellspacing="0" cellpadding="0">


                </table>
            </form>
            <div class="dateRangeInfo">
                {{ start_date|date }} - {{ end_date|date }}
            </div>
    <table id="orderList">
                <thead>
                    <tr>
                        <th> {% trans "Select Item" %}</th>
                        <th> {% trans "return_status" %}</th>
                        <th> {% trans "zidaya_order_number" %} </th>
                        <th> {% trans "sku" %} </th>
                        <th> {% trans "id_sales" %}</th>
                        <th> {% trans "customer_billing_name" %} </th>
                        <th> {% trans "customer_phone" %} </th>
                        <th> {% trans "customer_email" %} </th>
                        <th> {% trans "paid_price" %} </th>paid_price
                        <th> {% trans "bob_status" %} </th>
                        <th> {% trans "coupon_code" %}  </th>
                        <th> {% trans "coupon_money_value" %}</th>
                        <th> {% trans "bank_name" %} </th>
                        <th> {% trans "return_reason" %}</th>
                        <th> {% trans "comment" %}</th>
                        <th> {% trans "customer_contacted" %}</th>
                        <th> {% trans "refund_reference_number" %} </th>
                        <th> {% trans "new_coupon_need" %}</th>
                        <th> {% trans "new_coupon_code" %}</th>
                        <th> {% trans "return_date" %}</th>
                        <th> {% trans "refund_date" %}</th>
                    </tr>
                </thead>
                <tbody >
                    {% for r in oibfr_list %}

                        <tr style="height:30px;" id="{{ r.returneditemdetails.pk }}">
                            <td>
                                <span class="actionLabel" onclick="viewRefundBox('{{ r.order_nr  }}',
                                        '{{ r.id_sales_order_item }}',
                                        '{{ r.sku }}',
                                        '{{ r.pk }}',
                                        '{{ r.returneditemdetails.refund_reference_number|None2Empty }}',
                                        '{{ r.returneditemdetails.customer_contacted|None2Empty }}',
                                        '{{ r.returneditemdetails.isCouponNeeded|None2Empty }}',
                                        '{{ r.returneditemdetails.new_coupon|None2Empty }}',
                                        '{{ r.payment_method }}',
                                        '{{ r.returneditemdetails.comment }}')">
                                    Select {# translation needed #}
                                </span>
                            </td>
                            <td>
                                {{ r.returneditemdetails.get_status_display }}
                            </td>
                            <td><a href="https://bob.zidaya.com/orderprocessing/order/index/id/{{ r.id_sales_order }}" target="_blank">{{ r.order_nr }}</a></td>
                            <td><a href="http://static.zidaya.com/p/-{{ r.id_catalog_config|reverse }}-1-zoom.jpg" target="_blank">{{ r.sku }}</a></td>
                            <td>{{ r.id_sales_order_item}}</td>
                            <td>{{ r.billing_name|None2Empty }}</td>
                            <td>{{ r.billing_phone|None2Empty }}</td>
                            <td>{{ r.customer_email|None2Empty }}</td>
                            <td>{{ r.paid_price|None2Empty }}</td>
                            <td>{{ r.bob_status }}</td>
                            <td>{{ r.coupon_code|None2Empty }}</td>
                            <td>{{ r.coupon_money_value|None2Empty }}</td>
                            <td>{{ r.payment_method|None2Empty }}</td>
                            <td>
                                    {{ r.returneditemdetails.return_reason.name }}
                            </td>
                            <td>
                                    {{ r.returneditemdetails.comment }}
                            </td>
                            <td>

                                    {{ r.returneditemdetails.customer_contacted|None2Empty }}

                            </td>
                            <td>

                                    {{ r.returneditemdetails.refund_reference_number|None2Empty }}

                            </td>
                            <td>

                                    {{ r.returneditemdetails.isCouponNeeded|None2Empty }}

                            </td>
                            <td>

                                    {{ r.returneditemdetails.new_coupon|None2Empty }}

                            </td>
                            <td>
                                    {{ r.returneditemdetails.create_date|date:"d/M/Y H:i:s" }}
                            </td>
                            <td>
                                {% if r.returneditemdetails.status == 1 %}
                                    {{ r.returneditemdetails.update_date|date:"d/M/Y H:i:s" }}
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
		</div>
	</div>
    {% include "cross_order/boxes/refunded_item_box.html" %}


    <div id="test-div">

    </div>

</div>
<script type="text/javascript">
    $(document).ready(function(){
        displayModuleMenus("rts","rtsOrderManagement");
        setMenuName("Returned Item Tracking System - Order Management");

        var oTable = $('#orderList').dataTable(
                {
                    "sScrollY": "320px",
                    "bJQueryUI": true,
                    "sPaginationType": "full_numbers",
                    "sScrollX": "100%"
                }
        );
{#        $('#id_statusFilter').val({{ cstatus.pk }});#}
        $('.checkboxClass').attr("checked", "");
        $('.allSelect').click(function(){
            if($(this).is(':checked')){
                $('.checkboxClass').attr("checked", 'checked');
            }
            else
                $('.checkboxClass').attr("checked", "");
        });

        $('#id_statusFilter').val('{{ status }}');
        $( "#id_dateStart" ).datepicker({ altFormat: 'yy-mm-dd' });
        $( "#id_dateEnd" ).datepicker({  altFormat: 'yy-mm-dd' });
    });
</script>

{% endblock %}