{% load i18n %}
<div class="columnBox" style="display:none;" title = "Choose Columns to Display">
    <div class="black_overlay" id="fade"></div>
    <div class="column_box_content">
<div id="columnCheckBoxes" style="margin-bottom: 10px;" align="center">
    <h6>{% trans "choose_column_to_display" %}</h6><br>
    <table id="columnBoxTable">
        
{##}
{#        <tr>#}
{#            <td>#}
{#                <input type=checkbox class="columnChecked" name='columnChecked' value="1" checked>#}
{#                Cross Status#}
{#            </td>#}
{#            <td>#}
{#                <input type=checkbox class="columnChecked" name='columnChecked' value="2" checked>#}
{#                Order Item ID#}
{#            </td>#}
{#        </tr>#}
{#        <tr>#}
{##}
{#        </tr>#}
{#        <tr>#}
{#            <td>#}
{#                <input type=checkbox class="columnChecked" name='columnChecked' value="3" checked>#}
{#                Zidaya Order Number#}
{#            </td>#}
{#            <td>#}
{#                <input type=checkbox class="columnChecked" name='columnChecked' value="4" checked>#}
{#                Size#}
{#            </td>#}
{#        </tr>#}
{#        <tr>#}
{#            <td>#}
{#                <input type=checkbox class="columnChecked" name='columnChecked' value="5" checked>SKU#}
{#            </td>#}
{#            <td>#}
{#                <input type=checkbox class="columnChecked" name='columnChecked' value="6" checked>#}
{#                Supplier SKU Config#}
{#            </td>#}
{#        </tr>#}
{#        <tr>#}
{#            <td>#}
{#                <input type=checkbox class="columnChecked" name='columnChecked' value="7" checked>#}
{#                Supplier SKU Simple#}
{#            </td>#}
{#            <td>#}
{#                <input type=checkbox class="columnChecked" name='columnChecked' value="8" checked>#}
{#                Barcode#}
{#            </td>#}
{#        </tr>#}
{#        <tr>#}
{#            <td>#}
{#                <input type=checkbox class="columnChecked" name='columnChecked' value="9" checked>#}
{#                Name#}
{#            </td>#}
{#            <td>#}
{#                <input type=checkbox class="columnChecked" name='columnChecked' value="10" checked>#}
{#                BOB Status#}
{#            </td>#}
{#        </tr>#}
{#        <tr>#}
{#            <td>#}
{#                <input type=checkbox class="columnChecked" name='columnChecked' value="11" checked>#}
{#                Suborder Number#}
{#            </td>#}
{#            <td>#}
{#                <input type=checkbox class="columnChecked" name='columnChecked' value="12" checked>#}
{#                Paid Price#}
{#            </td>#}
{#        </tr>#}
{#        <tr>#}
{#            <td>#}
{#                <input type=checkbox class="columnChecked" name='columnChecked' value="13" checked>#}
{#                Cost#}
{#            </td>#}
{#            <td>#}
{#                <input type=checkbox class="columnChecked" name='columnChecked' value="14" checked>#}
{#                Order Date#}
{#            </td>#}
{#        </tr>#}
{#        <tr>#}
{#            <td>#}
{#                <input type=checkbox class="columnChecked" name='columnChecked' value="15" checked>#}
{#                Attribute Set#}
{#            </td>#}
{#            <td>#}
{#                <input type=checkbox class="columnChecked" name='columnChecked' value="16" checked>#}
{#                Inbound Order Number#}
{#            </td>#}
{#        </tr>#}
{#        <tr>#}
{#            <td>#}
{#                <input type=checkbox class="columnChecked" name='columnChecked' value="17" checked>#}
{#                Comment#}
{#            </td>#}
{#            <td>#}
{#                <input type=checkbox class="columnChecked" name='columnChecked' value="18" checked>#}
{#                Supplier Order Date#}
{#            </td>#}
{#        </tr>#}
{#        <tr>#}
{#            <td>#}
{#                <input type=checkbox class="columnChecked" name='columnChecked' value="19" checked>#}
{#                Last Update#}
{#            </td>#}
{#        </tr>#}
    </table>
</div>
            <div  style="float:right;margin-left: 10px;">
                <a href="#" onclick="return closeColumnBox();">
                    {% trans "close" %}
                </a>
            </div>
        <div class="closeButton">
            <div style="float:right;">
                <a href="#" onclick="return submitColumn();" class="submitButton">
                    <span>{% trans "show_these_columns" %}</span>
                </a>
            </div>
        </div>
    </div>
</div>