<div class="commentBox" style="display:none;" title = "Add A Comment">
    <div class="black_overlay" id="fade"></div>
    <div class="white_content">

        <form>
        <fieldset>
            <label>Add your comment below</label><br>
            <textarea id="userComment" name="userComment" cols="40" rows="10"></textarea>
        </fieldset>
        </form>

        <div class="closeButton">
                <a href="#" onclick="return submitComment();">
                    Submit Comment
                </a>
                &nbsp;
                <a href="#" onclick="return closeCommentBox();">
                    Close
                </a>
        </div>
    </div>
</div>


{#<div id="dialog-form" title="Search for a keyword" style="background-color: #C96; border:2px;">#}
{#        <p class="validateTips">Please enter a keyword</p>#}
{#    <form>#}
{#    <fieldset>#}
{#        <label for="keyword">Keyword</label>#}
{#        <input type="text" name="keyword" id="keyword" class="text ui-widget-content ui-corner-all" />#}
{#    </fieldset>#}
{#    </form>#}
{#</div>#}
