<div class="commentBox" style="display:none;" title = "Add A Comment">
    <div class="black_overlay" id="fade"></div>
    <div class="white_content">
<div style="margin-bottom: 10px;">
        <p>
           Comment:
        </p>
            <textarea id="comment" name="comment" cols="94" rows="10"></textarea>
</div>
            <div  style="float:right;margin-left: 10px;">
                <a href="#" onclick="return closeCommentBox();">
                    Close
                </a>
            </div>
        <div class="closeButton">
            <div style="float:right;">
                <a href="#" onclick="return submitComment();" class="submitButton">
                    <span> Submit Comment </span>
                </a>
            </div>
        </div>
    </div>
</div>