{% load i18n %}
<div class="refundBox" style="display:none;" title="Edit Order With SKU : {{ o.sku }}">
    <div class="black_overlay" id="fade"></div>
    <div class="white_content">
        <div style="border-bottom: 1px solid #333333;margin-bottom: 10px;text-align: left;">
           {% trans "refund_orderitem_header" %}
         </div>

        <div class="FormWrapper">
            <ul class="FormPosition">
                <li class="FormLineWrapper ReturnedItemFormLine">
                    <div class="FormObjectSearch">
                        <div class="FormLabel">
                           {% trans "order_nr" %}
                        </div>
                        <div>
                            <span id="id_refundedOrderNumber"></span>
                        </div>
                    </div>
                </li>
                <li class="FormLineWrapper ReturnedItemFormLine">
                    <div class="FormObjectSearch">
                        <div class="FormLabel">
                            {% trans "id_sales" %}
                        </div>
                        <div>
                            <span id="id_refundedIdSalesOrderItem"></span>
                        </div>
                    </div>
                </li>
                <li class="FormLineWrapper ReturnedItemFormLine">
                    <div class="FormObjectSearch">
                        <div class="FormLabel">
                            {% trans "sku" %}
                        </div>
                        <div>
                            <span id="id_refundedSku"></span>
                        </div>
                    </div>
                </li>

                    <li class="FormLineWrapper ReturnedItemFormLine paymentTypeWrapper">
                        <div class="FormObjectSearch">
                            <div class="FormLabel">
                                {% trans "payment_type" %}
                            </div>
                            <div>
                                <span id="id_paymentType" style="color:red;"></span>
                            </div>
                        </div>
                    </li>
                <form id ="refundedOrderForm" action="/rts/update_refunded_order/" method='post'>
                    {% csrf_token %}
                    <li class="FormLineWrapper ReturnedItemFormLine refundRefNumberWrapper">
                        <div class="FormObjectSearch">
                            <div class="FormLabel">
                                {% trans "refund_reference_number" %}
                            </div>
                            <div>
                                <input type="textbox" name="refundReferenceNumber" id = "id_refundReferenceNumber" value="">
                            </div>
                        </div>
                    </li>
                    <li class="FormLineWrapper ReturnedItemFormLine">
                        <div class="FormObjectSearch">
                            <div class="FormLabel">
                                {% trans "customer_contacted" %}
                            </div>
                            <div>
                                <select name='customerContacted' id='id_customerContactedList'>
                                    <option value='No'>{% trans "no" %}</option> {# translation needed #}
                                    <option value='Phone'>{% trans "via_phone" %}</option>
                                    <option value='Email'>{% trans "via_email" %}</option>
                                </select>
                            </div>
                        </div>
                    </li>
                    <li class="FormLineWrapper ReturnedItemFormLine">
                        <div class="FormObjectSearch">
                            <div class="FormLabel">
                                {% trans "is_coupon_needed" %}
                            </div>
                            <div style="text-align: left;">
                                <input type=checkbox name='isCouponNeeded' id= 'id_refundedIsCouponNeeded'>
                            </div>
                        </div>
                    </li>
                    <li class="FormLineWrapper ReturnedItemFormLine">
                        <div class="FormObjectSearch">
                            <div class="FormLabel">
                                {% trans "new_coupon_code" %}
                            </div>
                            <div>
                                <input type="textbox" name="newCoupon" value="" id="id_newCoupon">
                            </div>
                        </div>
                    </li>
                    <li class="FormLineWrapper ReturnedItemFormLine">
                        <div class="FormObjectSearch">
                            <div class="FormLabel">
                                {% trans "comment" %}
                            </div>
                            <div>
                                <textarea id="id_comment" name="comment" cols="30" rows="5"></textarea>
                            </div>
                        </div>
                    </li>
                 <input type="hidden" value="" id="id_returnedItemID" name="returnedItemID" />
                </form>
            </ul>
        </div>

        <div  style="float:right;margin-left: 10px;">
                <a href="#" onclick="return closeRefundBox();">
                    {% trans "close" %}
                </a>
            </div>
        <div class="closeButton">
            <div style="float:right;">
                <a href="#" onclick="return submitRefundedForm();" class="submitButton">
                    <span> {% trans "update_returned_item" %} </span> {# translation needed #}
                </a>
            </div>
        </div>
    </div>
</div>