{% load i18n %}
<div id="dialog-confirm"  class="refundBox" style="display:none;" title ="Edit Order With SKU : {{ o.sku }}">
{#    <div class="black_overlay" id="fade"></div>#}
    <div class="white_content">
    <div style="margin-bottom: 10px;" align="left">
            <table>
                <tr>
                    <td>Order Number</td>

                    <td>
                        <span id="id_refundedOrderNumber"></span>
                    </td>
                </tr>
                <tr>
                    <td>ID Sales Order Item</td>

                    <td>
                        <span id="id_refundedIdSalesOrderItem"></span>
                    </td>
                </tr>
                <tr>
                    <td>SKU</td>

                    <td>
                        <span id="id_refundedSku"></span>
                    </td>
                </tr>
                <form id ="refundedOrderForm" action="/rts/update_refunded_order/" method='post'>
                 {% csrf_token %}
                <tr>
                    <td>
                        Refund Reference Number
                    </td>
                    <td>
                        <input type="textbox" name="refundReferenceNumber" id = "id_refundReferenceNumber" value="">
                    </td>
                </tr>
                <tr>
                    <td>
                        Customer Contacted
                    </td>
                    <td>
                       <select name='customerContacted' id='id_customerContactedList'>
                            <option value='No'>No</option> {# translation needed #}
                            <option value='Phone'>Via Phone</option>
                            <option value='Email'>Via e-mail</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td>
                        Is Coupon Needed?
                    </td>
                    <td>
                        <input type=checkbox name='isCouponNeeded' id= 'id_refundedIsCouponNeeded'>
                    </td>
                </tr>
                <tr>
                    <td>
                        New Coupon Code
                    </td>
                    <td>
                        <input type="textbox" name="newCoupon" value="" id="id_newCoupon">
                    </td>
                </tr>
                 <input type="hidden" value="" id="id_returnedItemID" name="returnedItemID" />
            </form>
            </table>

    </div>
            <div  style="float:right;margin-left: 10px;">
                <a href="#" onclick="return closeRefundBox();">
                    {% trans "close" %}
                </a>
            </div>
        <div class="closeButton">
            <div style="float:right;">
                <a href="#" onclick="return submitRefundedForm();" class="submitButton">
                    <span> Update Returned Item </span> {# translation needed #}
                </a>
            </div>
        </div>
    </div>
</div>