{% load i18n %}
<div class="returnBox" style="display:none;" title="Edit Order With SKU : {{ o.sku }}">
    <div class="black_overlay" id="fade"></div>
    <div class="white_content">
        <div style="border-bottom: 1px solid #333333;margin-bottom: 10px;text-align: left;">
            {% trans "returned_orderitem_header" %}
         </div>

        <div class="FormWrapper">
            <ul class="FormPosition">
                <li class="FormLineWrapper ReturnedItemFormLine">
                    <div class="FormObjectSearch">
                        <div class="FormLabel">
                            {% trans "suborder_number" %}
                        </div>
                        <div>
                            <span id="id_returnedSuborder"></span>
                        </div>
                    </div>
                </li>
                <li class="FormLineWrapper ReturnedItemFormLine">
                    <div class="FormObjectSearch">
                        <div class="FormLabel">
                            {% trans "order_nr" %}
                        </div>
                        <div>
                            <span id="id_returnedOrder"></span>
                        </div>
                    </div>
                </li>
                <li class="FormLineWrapper ReturnedItemFormLine">
                    <div class="FormObjectSearch">
                        <div class="FormLabel">
                            {% trans "sku" %}
                        </div>
                        <div>
                            <span id="id_returnedSku"></span>
                        </div>
                    </div>
                </li>
                <form id ="returnedOrderForm" action="/rts/update_returned_order/" method='post'>
                    {% csrf_token %}
                    <li class="FormLineWrapper ReturnedItemFormLine">
                        <div class="FormObjectSearch">
                            <div class="FormLabel">
                                {% trans "return_reason" %}
                            </div>
                            <div>
                                <select name='reasonList' id='id_reasonList'>
                                    <option value='0'>{% trans "please_select_return_reason" %}</option> {# translation needed #}
                                    {% for reason in reasonList %}
                                        <option value='{{ reason.pk }}'>{{ reason.name }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                    </li>
                    <li class="FormLineWrapper ReturnedItemFormLine">
                        <div class="FormObjectSearch">
                            <div class="FormLabel">
                                {% trans "select_action" %}
                            </div>
                            <div>
                                <select name='actionList' id='id_actionList'>
                                    <option value='0'>{% trans "please_select_action" %}</option> {# translation needed #}
                                    {% for action in actionList %}
                                        <option value='{{ action.pk }}'>{{ action.name }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                    </li>
                    <li class="FormLineWrapper ReturnedItemFormLine">
                        <div class="FormObjectSearch">
                            <div class="FormLabel">
                                {% trans "inbound_tracking_number" %}
                            </div>
                            <div>
                                <input type="textbox" name="inboundTrackingNumber" id = "id_inboundTrackingNumber" value="">
                            </div>
                        </div>
                    </li>
                    <li class="FormLineWrapper ReturnedItemFormLine">
                        <div class="FormObjectSearch">
                            <div class="FormLabel">
                                {% trans "is_with_invoice" %}
                            </div>
                            <div style="text-align: left;">
                                <input checked="checked" type=checkbox name='isWithInvoice' id= 'id_isWithInvoice'>
                            </div>
                        </div>
                    </li>
                    <li class="FormLineWrapper ReturnedItemFormLine">
                        <div class="FormObjectSearch">
                            <div class="FormLabel">
                                {% trans "comment" %}
                            </div>
                            <div>
                                <textarea id="id_returnedComment" name="comment" cols="94" rows="10"></textarea><br>
                            </div>
                        </div>
                    </li>
                 <input type="hidden" value="" id="id_returnedItemID" name="returnedItemID" />
                </form>
            </ul>
        </div>

        <div style="float:right;margin-left: 10px;">
            <a href="#" onclick="return closeReturnBox();">
                {% trans "close" %}
            </a>
        </div>
        <div class="closeButton">
            <div style="float:right;">
                <a href="#" onclick="return submitReturnForm();" class="submitButton">
                    <span> {% trans "update_returned_item" %} </span> {# translation needed #}
                </a>
            </div>
        </div>
    </div>
</div>