{% load i18n %}
<div id="dialog-confirm"  class="returnBox" style="display:none;" title ="Edit Order With SKU : {{ o.sku }}">
{#    <div class="black_overlay" id="fade"></div>#}
    <div class="white_content">
    <div style="margin-bottom: 10px;" align="left">
            <table>
                <tr>
                    <td>Suborder Number</td>

                    <td>
                        <span id="id_returnedSuborder"></span>
                    </td>
                </tr>
                <tr>
                    <td>Order Number</td>

                    <td>
                        <span id="id_returnedOrder"></span>
                    </td>
                </tr>
                <tr>
                    <td>SKU</td>

                    <td>
                        <span id="id_returnedSku"></span>
                    </td>
                </tr>
                <form id ="returnedOrderForm" action="/rts/update_returned_order/" method='post'>
                 {% csrf_token %}
                <tr>
                    <td>
                        Action
                    </td>
                    <td>
                        <select name='actionList' id='id_actionList'>
                        <option value='0'>Select an Action</option> {# translation needed #}
                        {% for action in actionList %}
                            <option value='{{ action.pk }}'>{{ action.name }}</option>
                        {% endfor %}
                    </select>
                    </td>

                </tr>
                <tr>
                    <td>
                        Return Reason
                    </td>
                    <td>
                       <select name='reasonList' id='id_reasonList'>
                            <option value='0'>Select an Reason</option> {# translation needed #}
                            {% for reason in reasonList %}
                                <option value='{{ reason.pk }}'>{{ reason.name }}</option>
                            {% endfor %}
                        </select>
                    </td>

                </tr>
                <tr>
                    <td>
                        Comment
                    </td>
                    <td>
                        <textarea id="id_returnedComment" name="comment" cols="94" rows="10"></textarea><br>
                    </td>
                </tr>
                 <input type="hidden" value="" id="id_returnedItemID" name="returnedItemID" />
            </form>
            </table>

    </div>
            <div  style="float:right;margin-left: 10px;">
                <a href="#" onclick="return closeReturnBox();">
                    {% trans "close" %}
                </a>
            </div>
        <div class="closeButton">
            <div style="float:right;">
                <a href="#" onclick="return submitReturnForm();" class="submitButton">
                    <span> Update Returned Item </span> {# translation needed #}
                </a>
            </div>
        </div>
    </div>
</div>