{% load i18n %}
<div class="shipmentCommentBox" style="display:none;" title="">
    <div class="black_overlay" id="fade"></div>
    <div class="white_content">
        <div style="border-bottom: 1px solid #333333;margin-bottom: 10px;text-align: left;">
            {% trans "comment" %}
        </div>

        <div class="FormWrapper">
            <ul class="FormPosition">
                <form id ="shipmentCommentForm" action="/sms/comment_on_shipment/" method='post'>
                    {% csrf_token %}

                    <li class="FormLineWrapper ReturnedItemFormLine">
                        <div class="FormObjectSearch">
                            <div class="FormLabel">
                                {% trans "comment" %}
                            </div>
                            <div>
                                <textarea id="id_newComment" name="comment" cols="94" rows="10"></textarea><br>
                            </div>
                        </div>
                    </li>
                    <input type="hidden" value="" id="id_shipmentID" name="sid" />
                </form>
            </ul>
        </div>

        <div style="float:right;margin-left: 10px;">
            <a href="#" onclick="return closeShipmentCommentBox();">
                {% trans "close" %}
            </a>
        </div>
        <div class="closeButton">
            <div style="float:right;">
                <a href="#" onclick="return submitShipmentCommentForm();" class="submitButton">
                    <span> Confirm </span> {# translation needed #}
                </a>
            </div>
        </div>
    </div>
</div>