<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <title></title>
</head>
<body>
    <div>
            {% for anOrder in orders %}
                <div>
                    {{ anOrder.order_number }} |
                    {{ anOrder.barcode }}      |
                    {{ anOrder.quantity }}     |
                    <form style='display: inline-block;' action="/update/{{ anOrder.id }}" method='post'>{% csrf_token %}
                    <select name='status'>
                           <option value='{{ anOrder.status }}' selected="true">{{  anOrder.status}}</option>
                          <option value='unprocessed'>Unprocessed</option>
                          <option value='out_of_stock'>Out of Stock</option>
                          <option value='supplier_to_be_informed'>Supplier to be Informed</option>
                          <option value='supplier_informed'>Supplier Informed</option>
                          <option value='warehouse_to_be_informed'>Warehouse to be Informed</option>
                          <option value='warehouse_informed'>Warehouse Informed</option>
                          <option value='received_in_warehouse '>Received in Warehouse</option>
                    </select>
                    <input type='submit' value="Update">
                    </form>
                </div>
            {% endfor %}


    </div>

</body>
</html>