{% load i18n %}
{% load helper %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Zidaya {% block title %}{% endblock %}  </title>
    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery-1.5.2.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery-ui-1.8.18.custom.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/zidaya.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.dataTables.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/ZeroClipboard.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/TableTools.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/FixedColumns.min.js"></script>

    <link rel="stylesheet" href="{{ STATIC_URL }}css/jquery.dataTables.css" type="text/css">
    <link rel="stylesheet" href="{{ STATIC_URL }}css/jquery.dataTables_themeroller.css" type="text/css">
    <link rel="stylesheet" href="{{ STATIC_URL }}css/TableTools.css" type="text/css">
    <link rel="stylesheet" href="{{ STATIC_URL }}css/TableTools_JUI.css" type="text/css">
    <link rel="stylesheet" href="{{ STATIC_URL }}css/jquery-ui-1.8.4.custom.css" type="text/css">
    <link rel="stylesheet" href="{{ STATIC_URL }}css/zidaya.css" type="text/css">
{#    <script type="text/javascript">#}
{#      var uvOptions = {};#}
{#      (function() {#}
{#        var uv = document.createElement('script'); uv.type = 'text/javascript'; uv.async = true;#}
{#        uv.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'widget.uservoice.com/usMncu79ZDeEJP1EVJe0bQ.js';#}
{#        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(uv, s);#}
{#      })();#}
{#    </script>#}
    {% block extra_head %}{% endblock %}
</head>
<body>
<div id="header">
    <a id="logo" href="/">
        <img src="{{ STATIC_URL }}images/zidaya-logo.jpg" height="34" width="104">
    </a>
    <div id="navContainer">
        {% if user.is_authenticated %}
        <div id="navigation">
            <span class="item">
                <span class="label">
                    <a href="/">
                        <span class="label">
                            {% trans "welcome" %} {{ user.username }}
                        </span>
                    </a>
                </span>
            </span>
            <span class="item">
                    <a href="/cross_order/report_list/">
                        <span class="label">
                            {% trans "reports" %}
                        </span>
                    </a>
            </span>
            <span class="item">
                    <a href="/cross_order/transaction_list/">
                        <span class="label">
                            {% trans "transactions" %}
                        </span>
                    </a>
            </span>
            <a class="item ico icoLogout" href="/user/logout/"></a>

            <div style="text-align: right;margin-top:40px;margin-right: 10px;">
                {% if LANGUAGE_CODE == "tr" %}
                    <a href="/user/change_language/?lang=en">English</a>
                {% else %}
                    <a href="/user/change_language/?lang=tr">Türkçe</a>
                {% endif %}
            </div>
        </div>


        {% if user|is_dms_user %}
            <div class="extraNavigation">
                        <a href="/dms/list_documents/">
                            <span class="label">
                                {% trans "document_management_system" %}
                            </span>
                        </a>
            </div>
        {% endif %}

        {% else %}
        <div id="navigation">
            <span class="item">
                        <span class="label">
                            {% trans "cross_order_tracking_system" %}
                        </span>
            </span>
        </div>  
        {% endif %}
    </div>
</div>
<div id="content">
    {% block content %}{% endblock %}
</div>
<div id="footer">
    <div class="pagewrap">
        <div class="mark">
            {% trans "footer" %}
            <a href="mailto:ops-dev@zidaya.com">ops-dev@zidaya.com</a>
        </div>
    </div>
</div>
</body>
</html>
