<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>Zidaya</title>
</head>
<body>
<center>
  <table align="center" border="0" cellpadding="0" cellspacing="0" width="770" style="font:12px Arial;">
    <tr>
      <td bgcolor="#FF9827" height="37"></td>
    </tr>
    <tr>
      <td height="125"><a href="http://www.zidaya.com?utm_source=transactional&utm_medium=email&utm_campaign=ReturnCreditNote&wt_tm=UMS.ReturnCreditNote.transactional.header-logo" title="zidaya"><img src="http://static.zidaya.com/cms/mailing/transactional/zidaya-logo2.png" alt="Zidaya" border="0" height="125" width="770"></a></td>
    </tr>
    <tr>
      <td><center>
          <table border="0" cellpadding="0" cellspacing="0" width="100%" style="margin:0;padding:0;line-height:0;font:0 arial;">
            <tr>
              <td height="29" width="41"><a href="http://www.zidaya.com/?utm_source=transactional&utm_medium=email&utm_campaign=ReturnCreditNote&wt_tm=UMS.ReturnCreditNote.transactional.cat-anasayfa"><img src="http://static.zidaya.com/cms/mailing/images/nav-home.jpg" alt="Home" border="0" height="29" width="41"></a></td>
              <td align="right" width="6"><img src="http://static.zidaya.com/cms/mailing/images/nav-sub-leftcorner.jpg" alt="" border="0" height="28" width="5"></td>
              <td align="center" bgcolor="#f2f2f2" width="81" style="border-top:1px solid #c8c8c8; line-height:18px;"><a href="http://www.zidaya.com/kadin/?utm_source=transactional&utm_medium=email&utm_campaign=ReturnCreditNote&wt_tm=UMS.ReturnCreditNote.transactional.cat-kadin" title="Kad&#305;n" style="color:#000000; text-decoration:none; font-size:13px;">Kad&#305;n</a></td>
              <td align="center" width="11"><img src="http://static.zidaya.com/cms/mailing/images/nav-sub-center.jpg" alt="" border="0" height="28" width="11"></td>
              <td align="center" bgcolor="#f2f2f2" width="81" style="border-top:1px solid #c8c8c8; line-height:18px;"><a href="http://www.zidaya.com/erkek/?utm_source=transactional&utm_medium=email&utm_campaign=ReturnCreditNote&wt_tm=UMS.ReturnCreditNote.transactional.cat-erkek" title="Erkek" style="color:#000000; text-decoration:none; font-size:13px;">Erkek</a></td>
              <td align="center" width="11"><img src="http://static.zidaya.com/cms/mailing/images/nav-sub-center.jpg" alt="" border="0" height="28" width="11"></td>
              <td align="center" bgcolor="#f2f2f2" width="81" style="border-top:1px solid #c8c8c8; line-height:18px"><a href="http://www.zidaya.com/cocuk/?utm_source=transactional&utm_medium=email&utm_campaign=ReturnCreditNote&wt_tm=UMS.ReturnCreditNote.transactional.cat-cocuk" title="&#199;ocuk" style="color:#000000; text-decoration:none; font-size:13px;">&#199;ocuk</a></td>
              <td align="left" width="6"><img src="http://static.zidaya.com/cms/mailing/images/nav-sub-rightcorner.jpg" alt="" border="0" height="28" width="5"></td>
              <td width="421" align="right"></td>
            </tr>
          </table>
          <table bgcolor="#000000" border="0" cellpadding="0" cellspacing="0" width="100%" style="margin:0;padding:0;line-height:0;font:0 arial;">
            <tr>
              <td align="right" height="30" width="5"><img src="http://static.zidaya.com/cms/mailing/images/nav-left-corner.jpg" alt="" border="0" height="30" width="5"></td>
              <td align="center" style="line-height:18px;"><a href="http://www.zidaya.com/ayakkabi/?utm_source=transactional&utm_medium=email&utm_campaign=ReturnCreditNote&wt_tm=UMS.ReturnCreditNote.transactional.cat-ayakkabi" style="color:#ffffff; text-decoration:none; font-size:12px;">Ayakkab&#305;</a></td>
              <td align="center" style="line-height:18px;"><a href="http://www.zidaya.com/giyim/?utm_source=transactional&utm_medium=email&utm_campaign=ReturnCreditNote&wt_tm=UMS.ReturnCreditNote.transactional.cat-giyim" style="color:#ffffff; text-decoration:none;font-size:13px;">Giyim</a></td>
              <td align="center" style="line-height:18px;"><a href="http://www.zidaya.com/ic_giyim/?utm_source=transactional&utm_medium=email&utm_campaign=ReturnCreditNote&wt_tm=UMS.ReturnCreditNote.transactional.cat-ic-giyim" style="color:#ffffff; text-decoration:none;font-size:12px;">&#304;&#231; Giyim</a></td>
              <td align="center" style="line-height:18px;"><a href="http://www.zidaya.com/canta/?utm_source=transactional&utm_medium=email&utm_campaign=ReturnCreditNote&wt_tm=UMS.ReturnCreditNote.transactional.cat-canta" style="color:#ffffff; text-decoration:none;font-size:12px;">&#199;anta</a></td>
              <td align="center" style="line-height:18px;"><a href="http://www.zidaya.com/aksesuar/?utm_source=transactional&utm_medium=email&utm_campaign=ReturnCreditNote&wt_tm=UMS.ReturnCreditNote.transactional.cat-aksesuar" style="color:#ffffff; text-decoration:none;font-size:12px;">Aksesuar</a></td>
              <td align="center" style="line-height:18px;"><a href="http://www.zidaya.com/kozmetik/?utm_source=transactional&utm_medium=email&utm_campaign=ReturnCreditNote&wt_tm=UMS.ReturnCreditNote.transactional.cat-kozmetik" style="color:#ffffff; text-decoration:none;font-size:12px;">Kozmetik</a></td>
              <td align="center" style="line-height:18px;"><a href="http://www.zidaya.com/spor/?utm_source=transactional&utm_medium=email&utm_campaign=ReturnCreditNote&wt_tm=UMS.ReturnCreditNote.transactional.cat-spor" style="color:#ffffff; text-decoration:none;font-size:12px;">Spor</a></td>
              <td align="center" style="line-height:18px;"><a href="http://www.zidaya.com/premium/?utm_source=transactional&utm_medium=email&utm_campaign=ReturnCreditNote&wt_tm=UMS.ReturnCreditNote.transactional.cat-premium" style="color:#ffffff; text-decoration:none;font-size:12px;">Premium</a></td>
              <td align="center" style="line-height:18px;"><a href="http://www.zidaya.com/ozel/?utm_source=transactional&utm_medium=email&utm_campaign=ReturnCreditNote&wt_tm=UMS.ReturnCreditNote.transactional.cat-ozel" style="color:#ffffff; text-decoration:none;font-size:12px;">&#214;zel</a></td>
              <td align="center" style="line-height:18px;"><a href="http://www.zidaya.com/tum-markalar/?utm_source=transactional&utm_medium=email&utm_campaign=ReturnCreditNote&wt_tm=UMS.ReturnCreditNote.transactional.markalar" style="color:#ffffff; text-decoration:none;font-size:13px;">Markalar</a></td>
              <td align="center" style="line-height:18px;" bgcolor="#ff9923"><a href="http://www.zidaya.com/ozel-fiyat/?utm_source=transactional&utm_medium=email&utm_campaign=ReturnCreditNote&wt_tm=UMS.ReturnCreditNote.transactional.indirimler" style="color:#ffffff; text-decoration:none;font-size:13px;">&#304;ndirimler</a></td>
              <td align="right" width="5"><img src="http://static.zidaya.com/cms/mailing/images/nav-right-corner2.jpg" alt="" border="0" height="30" width="5"></td>
            </tr>
          </table>
        </center></td>
    </tr>



    <tr>
      <td height="10"></td>
    </tr>

		<tr>
			<td height="30" width="730" align="center"><table border:1px solid #c8c8c8; cellpadding="0" width="100%" style="font:12px Arial">
					<tr>
                <td style="font:13px Arial"><div style="border:1px solid #f0f0f0;">
<p style="margin-left:10px">Merhaba {{billing_name}},<br><br>
                {{order_date}} tarihinde vermiş olduğunuz {{order_nr}} no'lu siparişinizdeki "{{name}}" ürünü için ödemiş olduğunuz {{paid_price}} TL,  {{refund_reference_number}} iade referans numarası ile tarafınıza iade edilmiştir.
<br><br>
Bu ödemenin ekstrenize yansıma süresi bankaların işleyişine göre değişiklik göstermektedir, tarafınıza en geç 3 iş günü içerisinde yansıyacaktır.
<br><br>
{% if new_coupon|length > 0 %}
Zidaya'dan yapacağınız alışverişlerde kullanabileceğiniz yeni kuponunuz: {{new_coupon}}
    <br/><br/>
{% endif %}
Anlayışınız için teşekkür eder, keyifli alışverişler dileriz.
<br><br>
Saygılarımızla,
<br><br>
Zidaya</p></div>
</td>

              </tr>


                    <tr>
      <td height="10"></td>
    </tr>

                    <tr>
          <td ><div style="border:1px solid #f0f0f0;">
              <table border="0" cellpadding="5" cellspacing="0" width="100%" style="font:12px Arial;">
                  <tr>
									<td colspan="5" bgcolor="#FF9827" style="color:#fff; font-size:15px;"><strong>&#304;ade Edilen &#220;r&#252;n</strong></td>
    </tr>
                  <tr>
                    <td width="105" valign="middle" style="color:#666;"><strong>&#220;r&#252;n Kodu</strong></td>
                    <td width="124" align="center" valign="middle" style="color:#666;"><strong>&#220;r&#252;n Resmi</strong></td>
                    <td width="197" align="center" valign="middle" style="color:#666;"><b>&#220;r&#252;n Ad&#305;</b></td>
                    <td width="50" align="center" valign="middle" style="color:#666;"><b>Adet</b></td>
                    <td width="104" align="right" valign="middle" style="color:#666;"><b>KDV Dahil Fiyat</b></td>
                  </tr>
                  <tr>
                    <td colspan="6" valign="middle"><img src="http://static.zidaya.com/cms/mailing/images/border.gif" alt="" border="0" height="1" width="100%"></td>
                  </tr>
                  <tr>
                    <td align="left">{{sku}}</td>
                    <td align="center"><img src="{{ product_image }}" alt="" border="0"></td>
                    <td align="center">{{name}}</td>
                    <td align="center">1</td>
                    <td align="right" valign="middle">{{paid_price}} TL&nbsp;</td>
                  </tr>
                <tr>
                  <td colspan="6" valign="middle"><img src="http://static-staging.turpar.rocketidc.org/cms/mailing/images/sperator.gif" alt="" border="0" height="1" width="100%"></td>
                </tr>
              </table>
            </div>
            </td>
        </tr>
				</table></td>
		</tr>
    <tr>
      <td height="10"></td>
    </tr>
    <tr>
      <td bgcolor="#CCCCCC" height="10"></td>
    </tr>
    <tr>
      <td bgcolor="#FF9827"><table align="center" cellpadding="5" cellspacing="7" width="700" style="font:12px arial;color:#fff">
          <tr>
            <td width="340" valign="top"><p style="font-size:15px;"><b>Bize Ula&#351;&#305;n</b></p>
              <p>M&#252;&#351;teri Hizmetleri ekibimiz b&#252;t&#252;n sorular&#305;n&#305;z&#305; cevaplamak i&#231;in hizmetinizdedir!</p>
              <p style="font-size:14px;"><img src="http://static.zidaya.com/cms/mailing/images/ico-tel.png" height="24" width="24" alt="" align="absmiddle">&nbsp;<b>0850 221 66 33 &nbsp;&nbsp;&nbsp; <img src="http://static.zidaya.com/cms/mailing/images/ico-mail.png" alt="" width="24" height="24" align="absmiddle"> <a href="mailto:iletisim@zidaya.com" style="color:#ffffff;">iletisim@zidaya.com</A></b></p></td>
            <td width="20" align="center"><img src="http://static.evimister.com/cms/mailing/image/spacer.gif" alt="" height="85" width="1"></td>
            <td width="320" valign="top"><p style="font-size:15px;"><b>Moday&#305; bizle takip edin!</b></p>
              <table border="0" cellpadding="0" cellspacing="0" style="font:12px arial;">
                <tr>
                  <td width="275" height="40" valign="top">Size &#246;zel stil tavsiyeleri, yeni &#252;r&#252;nler ve f&#305;rsatlar i&#231;in bize kat&#305;l&#305;n.</td>
                </tr>
              </table>
              <a href="http://www.facebook.com/zidayacom" style="text-decoration:none"><img src="http://static.zidaya.com/cms/mailing/images/ico-fb.png" alt="Facebook" border="0"></a> <a href="https://twitter.com/#!/zidayacom" style="text-decoration:none"> <img src="http://static.zidaya.com/cms/mailing/images/ico-tw.png" alt="Twitter" border="0"></a> <a href="https://plus.google.com/u/0/100146390500786355938s" style="text-decoration:none"> <img src="http://static.zidaya.com/cms/mailing/images/ico-go.png" alt="Google Plus" border="0"></a> <a href="http://pinterest.com/zidayacom"><img
src="http://static.zidaya.com/cms/mailing/images/ico-pt.png" alt="Pinterest" border="0"></a></td>
          </tr>
        </table></td>
    </tr>
  </table>
</center>
</body>
</html>