{% load i18n %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Zidaya {% block title %}{% endblock %}  </title>
    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery-1.5.2.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery-ui-1.8.18.custom.min.js"></script>

    <link rel="stylesheet" href="{{ STATIC_URL }}css/jquery-ui-1.8.4.custom.css" type="text/css">
<link rel="stylesheet" href="{{ STATIC_URL }}css/zidaya.css" type="text/css">
    <link rel="stylesheet" href="{{ STATIC_URL }}css/good_acc.css" type="text/css">
    {% block extra_head %}{% endblock %}
</head>
<body>
<div id="header">
    {% if error %}
<div class="headerError">
        Bir hata oluştu. Lütfen sevkiyatı tekrar yükleyin.
</div>
    {% endif %}
</div>
<div id="content">
    <form enctype="multipart/form-data"  method="post" action="/acceptance/upload_csv/" id="UploadDocument">
                    {% csrf_token %}
                    <table cellspacing="5">
                    <tr>
                        <td>
                            Dosya Seçiniz: <input type="file" id="id_file" name="file">
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2" style="text-align: right;">
                            <input type="submit" value="Upload" style="width:60px;">
                        </td>
                    </tr>
                    </table>


                </form>
</div>
<div id="footer">
    <div class="pagewrap">
        <div class="mark">
            Sorularınız için:
            <a href="mailto:ops-dev@zidaya.com">ops-dev@zidaya.com</a>
        </div>
    </div>
</div>
</body>
</html>
